LCL_JWT_EXPIRE_SEC=21600
LCL_SALT_ROUND=10
LCL_FULL_LOG=true
LCL_API_HOST=127.0.0.1
LCL_API_PORT=3001
LCL_JWT_EXPIRE_TIME=10d

LCL_PATH_LOG=log

# secret variables
LCL_MYSQL_HOST=127.0.0.1
LCL_MYSQL_PORT=
LCL_MYSQL_USER=
LCL_MYSQL_PASS=
LCL_MYSQL_DB=

LCL_JWT_SECRET=bfa5915a-be9b-4ff5-a762-8a74a129552f
